.container__big-card{
    width: 570px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-left: 10px;
    margin-right: 10px;

}
.big-card__image{
    margin: 0;
    width: 100%;
}

.big-card__date{
    font-size: 13px;
    font-weight: lighter;
    margin: 0px 0px 0px 3px;
    
}

.big-card__title{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.big-card__description{
    font-size: 20px;
    font-weight: lighter;
    
}