<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__content">
    <div class="content_image">
        <img src="{{image}}" 
        alt="Imagem Principal" 
        height= "100%"
        width="100%"
        srcset="" >
    </div>
    <div class="content__date">
        {{date}}
    </div>
    <div class="content__title">
        <h1>{{title}}</h1>
        
    </div>
    <div class="content__description">
        <p>{{description}}</p>
        
    </div>

</div>
